[MASTER]
load-plugins=pylint_odoo
score=n

[ODOOLINT]
manifest-required-authors=Odoolings readers
manifest-required-keys=license
license-allowed=AGPL-3,GPL-2,GPL-2 or any later version,GPL-3,GPL-3 or any later version,LGPL-3
valid-odoo-versions=19.0
no-missing-return=__init__,_register_hook,setUp,setUpClass,tearDown,tearDownClass,_compute_access_url

[MESSAGES CONTROL]
disable=all
enable=dangerous-default-value,development-status-allowed,license-allowed,
    manifest-author-string,manifest-required-author,manifest-required-key,
    manifest-version-format,method-required-super,missing-return,
    print-used,sql-injection,translation-required
